.Login {
  text-align: center;
}

.Login-logo {
  animation: Login-logo-spin infinite 20s linear;
  height: 40vmin;
}

.Login-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000000;
}

.Login-link {
  color: #003F7E;
  font-size: 10px;
}

@keyframes Login-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}